<div class="container">
<h1>My News Updates</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/articles">My Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      <th scope="col">Save</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
{{#each news}}
   <tr>
      <td>{{this.title}}</td>
      <td><a href="https://www.nytimes.com{{this.link}}">https://www.nytimes.com{{this.link}}</a></td>
      <td><i onclick="save(this)" class="fa fa-save"></i></td>
      <td><i onclick="remove(this)" class="fa fa-trash"></i></td>
    </tr>
{{/each}}
    
  </tbody>
</table>

</div>  
