.fa {
  font-size: 80px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
.container-img {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greeting{
  font-size: 70px;
}